html{
    background-color:white;
    margin: none;
    padding: none;
    border: none;


}
    html::-webkit-scrollbar {
        display: none;
    }

body{
    text-align: -webkit-center;
    margin: 0px;
}

#name {
    color: pink;
    font-family: "Playwrite IT Moderna", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin: 0px;
    font-size: 240%;
    padding: 1%;
}

#Navbar {
    background-color:#ffeed9;
    width: 100%;
    top: 0;
    left: 0;
}
    
#shades{
    margin-top: 50%;
    width: 80%;
    border-radius: 10px;
}

#tanlines{
    margin-top: 10%;
    width: 80%;
    border-radius: 10px;

}

#bookingWidget{
   margin-top: 30%;
   width: 90%;
}
